* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
}

.container {
    width: 350px;
    background-color: white;
    margin-top: 10px;
    height: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow-y:scroll;
}

h1{
    margin-bottom: 10px;
}

.input-container {
    display: flex;
    gap: 20px;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

button {
    padding: 8px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


button:hover {
    background: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;

}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background: #e3e3e3;
    border-radius: 5px;
    margin-top: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

@media (max-width:768px) {
    .container {
        width: 100%;
    }
}