body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
}

#options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 15px 0;
}


.button-container {
    display: flex;
    justify-content: flex-end;  
    margin-top: 10px;
}


#next-btn {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

#next-btn:hover {
    background-color: #2980b9;
}


button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

.hidden {
    display: none;
    

}

.correct {
    background-color: lightgreen;
}

.wrong {
    background-color: lightcoral;
}
