
body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }

  .logo{
    cursor: pointer;
  }

  .cart-item {
    display: flex;
    gap: 20px;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    align-items: center;
  }
  
  .cart-item-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  
  .cart-item-details {
    flex: 1;
  }
  
  .remove-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    margin-top: 10px;
    cursor: pointer;
  }
  
  #cart-total {
    margin-top: 30px;
    text-align: right;
    margin-right: 10px;
  }

  .cart-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #555;
  }

  