
body {
    font-family: Arial, sans-serif;
    padding: 20px;
  }

  .cart-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
  }
  .cart-item-name {
    font-weight: bold;
  }
  .cart-summary {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
  }
  .cart-item {
    display: flex;
    gap: 15px;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    align-items: center;
  }

  .cart-item-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
  }

  .cart-item-details {
    flex: 1;
  }

  .logo:hover{
    cursor: pointer;
  }